@import "../vars.scss";

.main {
    margin: 0 auto;
}

.interlude {
    width: 70vw;
    margin: 0 auto;
    height: 50vh;
    display: flex;
    flex-direction: column;
}

.pres {
    width: 70vw;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1em;
    &Card {
        background: $bg-card;
        padding: 2em;
        border-radius: 1.5em;
        display: flex;
        flex-direction: column;
        gap: 1em;

        &Title {
            font-weight: 500;
        }
    }
}
