@import "../vars.scss";

.product {
    &Banner {
        width: 100vw;
        height: 100vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        background: rgb(54, 54, 238);
        &Text {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 1em;
        }
    }
    &Title {
        font-weight: 600;
        font-size: 56px;
    }
}

.product {
    width: 70vw;
    margin: 0 auto;
    border: 1px solid green;
    &Top {
        display: grid;
        grid-template-columns: 50% 50%;
        align-items: center;
        justify-content: center;
    }
    &Mid {
        display: flex;
        flex-direction: column;
        gap: 1em;
        &Text {
            display: flex;
            flex-direction: column;
            gap: 1em;
        }
    }
    &Config {
        width: 70vw;
        margin: 48px auto;
        &Text {
            display: flex;
            gap: 0.5em;
            flex-direction: column;
            margin-bottom: 2em;
        }
        &Title {
            font-size: 2em;
            font-weight: 500;
        }
    }
    &Choicer {
        display: grid;
        grid-template-columns: 65% 35%;
        &Carousel {
            width: 95%;
            height: 30vw;
            border-radius: 24px;
            position: sticky;
            top: 160px;
            display: flex;
            flex-direction: column;
            align-items: center;
            &Dot {
                display: flex;
                gap: 0.5em;
            }
        }
    }
}

.productPres {
    &Text {
        display: flex;
        flex-direction: column;
        gap: 1em;
        padding: 32px 10px;
        &Title {
            font-size: 1.5em;
            font-weight: 600;
            margin-bottom: 0.5em;
        }
        &Subtitle {
            font-style: italic;
            color: $c-blue-base;
        }
    }
    &List {
        display: flex;
        flex-direction: column;

        gap: 1.3em;
        margin-bottom: 1em;
        &Item {
            display: flex;
            align-items: center;
            gap: 0.5em;
            line-height: 1.3em;
        }
    }
}

.productPros {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1em;
    margin: 0 auto;

    &Card {
        background: $bg-card;
        border-radius: 1.5em;
        padding: 36px 32px;
        height: 200px;
        // width: 30vw;
        &Title {
            font-size: 16px;
            font-weight: 500;
        }
        &Text {
            font-size: 18px;
            font-weight: 500;
        }
    }
}

.productCarac {
    margin: 44px 0;
    &Title {
        font-size: 2em;
        margin-bottom: 1em;
    }
    &List {
        display: flex;
        flex-direction: column;
        gap: 1em;
    }
}

.midText {
    &Title {
        font-size: 1.5em;
        font-weight: 500;
    }
}

.productCarousel {
    display: flex;

    justify-content: center;
    background: $bg-card;
    border-radius: 24px;
    width: 100%;
    margin-bottom: 1em;
}
