@import "../vars.scss";
.service {
    width: 70vw;
    gap: 2em;
    margin: 2em auto;
    min-height: 100vh;
    &Title {
        font-size: $title-section;
        // text-transform: uppercase;
        font-weight: 600;
        margin-bottom: 2rem;
    }
    &Form {
        width: 50vw;
        margin: 0 auto;
        background: $bg-card;
        padding: 3em 5em;
        border-radius: 2em;
    }
    &Banner {
        width: 70vw;
        margin: 10vh auto;
        display: flex;
        flex-direction: column;
        gap: 1em;
    }
}

.banner {
    &Title {
        font-size: $title-section;
        line-height: 1.2em;
    }
    &Text {
        max-width: 100%;
        color: $text-grey;
    }
}

.bento {
    width: 70vw;
    display: grid;
    gap: 1em;
    &Top,
    &Bottom {
        display: grid;
        gap: 1em;
    }
    &Top {
        grid-template-columns: 70% 30%;
    }
    &Bottom {
        grid-template-columns: 30% 70%;
    }
    &Cyber {
        margin: 1em 0;
        grid-template-columns: 40% 60%;
        .bentoCard:hover {
            background: $c-blue-hover;
        }
    }
    &Left,
    &Right {
        .bentoCard {
            height: 100%;
        }
    }

    &Right {
        display: flex;
        flex-direction: column;
        gap: 1em;

        &Bottom {
            display: flex;
            gap: 1em;
        }
    }
    &Card {
        background: $bg-card;
        border-radius: 24px;
        padding: 20px 32px;
        display: flex;
        flex-direction: column;
        gap: 0.5em;
        cursor: pointer;
        &Title {
            font-size: 18px;
            line-height: 1.3em;
            font-weight: 500;
        }
        &Text {
            font-size: 14px;
        }
        &:hover {
            background: $w-purple-hover;
        }
    }
}

.product {
    &Container {
        display: grid;
        grid-template-columns: 50% 50%;
        width: 70vw;
        gap: 1em;
    }
    &BtnContainer {
        display: flex;
        gap: 1em;
    }
    &Card {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 64px 56px 48px 56px;
        background: $bg-card;
        border-radius: 24px;
    }
    &Title {
        font-size: $title-sub;
    }
    &Subtitle {
        font-weight: 300;
        font-size: 14px;
    }
    &Carac {
        display: flex;
        flex-direction: column;
        margin-bottom: 2em;
        // gap: 1em;
        &Item {
            display: flex;
            gap: 0.5em;
            padding: 1em;
            align-items: center;

            &Text {
                font-size: 14px;
                // font-weight: 500;
            }
        }
    }
}

.inputLab {
    display: flex;
    flex-direction: column;
    gap: 1em;
    margin-bottom: 1em;
}
.input {
    background: #2a2a2a;
    color: $text-white;
    border: 1px solid #444;
    border-radius: 4px;
    padding: 8px;
    transition: all 0.3s ease;
    &:focus {
        background-color: #757575; // Éclaircit légèrement le fond
        border-color: #ffffff;
        color: white;
        outline: none; // Enlève le contour par défaut
    }
    &:not(:placeholder-shown) {
        background-color: #757575; // Garde la couleur de fond du focus
        border-color: #ffffff; // Bordure blanche
    }
    &Container {
        display: flex;
        flex-direction: column;
        gap: 1em;
        margin-bottom: 44px;
        border-radius: 12px;
        background: $bg-card;
        padding: 3em;
    }
    &Lab {
        display: flex;
        flex-direction: column;
        gap: 1em;
    }
    &Error {
        border: 2px solid red;
        outline: none;
    }
}

.submitButton {
    border-radius: 24px;
    background: $c-blue-base;
    padding: 10px 20px;
    color: white;
    transition: all 0.7s;
    cursor: pointer;
    &:hover {
        background: $c-blue-hover;
    }
}
