@import "../vars.scss";

.carousel {
    width: 90vw;
    // background: red;
    height: 80vh;

    margin: 3dvh auto;
    display: grid;
    grid-template-rows: 90% 10%;
    align-items: center;
    &Product {
        width: 95%;
        height: 30vw;
        border-radius: 24px;
        position: sticky;
        top: 160px;
        display: flex;
        flex-direction: column;
        align-items: center;
        &Dot {
            display: flex;
            gap: 0.5em;
        }
    }

    &Controls {
        height: 100%;
        display: flex;
        // justify-content: space-between;
        justify-content: flex-end;
        gap: 1em;
        align-items: center;
        &Change {
            width: 3dvh;
            height: 2dvh;
            border: 1px solid rgba(255, 255, 255, 0.2);
            background-color: rgba(0, 0, 0, 0.4);
            border-radius: 0.3em;
            cursor: pointer;
            transition: background-color 0.3s;
            &Active {
                background-color: $c-blue-active;
            }
        }
    }
    &ImageChange {
        border-radius: 12px;
        padding: 0.2em;
        background: $bg-card;
        &Active {
            background: $c-blue-active;
        }
        &:hover {
            background: $c-blue-hover;
        }
    }
}

.slide {
    height: 100%;
    display: grid;

    align-items: end;
    &Content {
        padding: 2em 8vw;
        background: rgba(0, 0, 0, 0.4);
        border: 1px solid rgba(255, 255, 255, 0.2);

        border-radius: 12px;
    }
    &Text {
        margin-bottom: 24px;
    }
    &Product {
        display: flex;
        justify-content: center;
        background: $bg-card;
        border-radius: 24px;
        width: 100%;
        margin-bottom: 1em;
    }
}

.carouselBackground {
    background: black;
    position: absolute;
    z-index: -1000;
}
