.menu,
.logo {
    display: flex;
}
.header {
    position: sticky;
    top: 0;
    z-index: 10;
    background: rgba(255, 255, 255, 0.01);
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(15px);
    height: 10vh;
    // margin-bottom: 3vh;
    &Content {
        width: 70vw;
        height: 100%;
        margin: 0 auto;

        display: grid;
        align-items: center;
        grid-template-columns: 20% 80%;
    }
}

.logo {
    align-items: center;
    gap: 8px;
    &Title {
        font-weight: 500;
        font-size: 24px;
    }
}
.menu {
    gap: 2em;
    justify-content: end;
    &Container {
        width: 100%;
    }
    &Item {
        font-weight: 500;
    }
}
