.header,
.menu {
    display: flex;
    align-items: center;
}

.header {
    padding: 0.5em 2em;
    border: 1px solid rgba(255, 255, 255, 0.2);
    position: fixed;
    left: 50%;
    transform: translate(-50%);
    top: 10px;
    z-index: 1000;
    border-radius: 14px;
    background: rgba(255, 255, 255, 0.01);
    backdrop-filter: blur(15px);
    gap: 3em;
    width: fit-content;
    margin: 10px auto;
}

.logo {
    display: flex;
    gap: 8px;
    align-items: center;
    &Title {
        font-size: 24px;
        font-weight: 500;
        font-family: "Poppins";
    }
}

.menu {
    gap: 60px;
    &Item a {
        color: white;
        font-weight: 500;
    }
}
