/*------- GENERAL COLORS ----------*/
$bg: #161925;
$bg-card: #1c1f2e;
$text-white: #ffffff;
$text-grey: #727272;
$text-darkgrey: #444444;
$btn-bg: #252a41;

/*------- THEMES COLORS ----------*/
$w-purple-base: #830ef9;
$n-yellow-base: #f9a90e;
$c-blue-base: #0e78f9;
$e-orange-base: #ff742e;

/*----------- FS -------------*/
$text: 16px;
$title-sub: 1.5em;

$title-section: 56px;
